.nav-button {
    height: 2rem;
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: start;
}

.nav-button:active {
    width: 100%;
    background-color: var(--global-color-primary-highlight);
}

.nav-button:hover {
    width: 100%;
    background-color: var(--global-color-primary-highlight);
}