.retro-column {
    overflow: auto;
    background-color: var(--retro-column-color);
}

.retro-column-card {
    min-height: 16em;
    min-width: 10em;
    max-width: 12em;
    height: 16em;
    margin: 0.5vw;
}