.light-theme {
    --global-font-family: Verdana, sans-serif;
    --global-font-size: 1rem;
    --global-text-color: #222;
    --global-primary-title-size: 2rem;
    --global-color-primary: #88498f;
    --global-color-primary-highlight: #a150ac;
    --global-color-secondary: #779fa1;
    --global-color-warning: #e28413;
    --global-color-danger: #ff6542;
    --global-background-color: #faeaff;

    --navbar-text-color: #f19ce3;
    --navbar-background-color: #95509c;
}