.light-theme {
    --global-font-family: Verdana, sans-serif;
    --global-font-size: 1rem;
    --global-text-color: #e795da;
    --global-primary-title-size: 2rem;
    --global-color-primary: #59315e;
    --global-color-primary-highlight: #a150ac;
    --global-color-secondary: #779fa1;
    --global-color-warning: #e28413;
    --global-color-danger: #ff6542;
    --global-background-color: #221525;

    --navbar-background-color: #6b3a72;

    --retro-column-color: #4a394da6;
    --retro-card-color: #8a4d91;
}