.navbar {
    --navbar-background-color: #B4AEE8;
    background-color: var(--navbar-background-color);
}

.menu-left {
    left: 0;
    right: 0;
    margin-left: 0; 
    margin-right: 0; 
    min-width: 10em;
}

.maximize-width {
    width: 100px;
}  