.retro-column {
    display: grid;
    min-width: 12em;
    grid-gap: 0.3vw;
    grid-template-columns: repeat(auto-fit, 200px);
    background-color: var(--retro-column-color);
}

.retro-column-card {
    min-height: 16em;
    min-width: 10em;
    max-width: 12em;
    margin: 0.5vw;
    flex-grow: 1;
}