body {
    margin: 0px;
    padding: 0px;
}

.whole-window {
    min-height: 100vh;
    background-color: var(--global-background-color);
}

.display-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}